.container {
    display: flex;
    flex-wrap: wrap;
  }

.cv-form{
    flex: 1; 
}

.cv-preview{
    flex: 1; 
}

.buttons{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.summaryForm{
    list-style: none;
}

.jobForm{
    list-style: none;
}

.educationForm{
    list-style: none;
}

.title{
    padding-left: 3%;
}